<%= render "partials/navbar" %>

<br>

<div class="container">
  <div class="row">

    <div class="col-lg-3">
      <div class="card">
        <h3 class="card-header card-new">
          <%= link_to "Rooms", rooms_path, class: "rooms-header" %>
        </h3>
        <%= render "partials/rooms" %>
        <div class="card-footer">
          Want to create a room?
          <%= link_to "Create Room", new_room_path, class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="card">
        <h2 class="card-header">
          <%= @room.name %>
        </h2>
        <div class="card-body">
          <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
            <% @room_messages.each do |room_message| %>

              <div class="chat-message-container">
                <div class="row no-gutters">

                  <div class="col">
                    <div class="message-content">
                      <p class="text-bubble"><%= room_message.message %></p>
                      <div class="text-right">
                        <small><%= room_message.created_at %></small>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            <% end %>
          </div>

          <div>
            <%= simple_form_for @room_message, remote: true do |form| %>
              <div class="input-group">
                <%= form.input :message,
                    as: :string,
                    wrapper: false,
                    label: false,
                    input_html: {
                      autocomplete: "off",
                      placeholder: "Type here ... ",
                      class: "chat-input"
                    }
                %>
                <div class="input-group-append">
                  <%= form.submit "Send", class: 'btn btn-send chat-input'  %>
                </div>
              </div>

              <%= form.input :room_id, as: :hidden %>
            <% end %>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>


<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">

      <div class="col">
        <div class="message-content">
          <p class="text-bubble" data-role="message-text"></p>
          <div class="text-right">
            <small data-role="message-date"></small>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>